// :root {
//   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
//   line-height: 1.5;
//   font-weight: 400;

//   color-scheme: light dark;
//   color: rgba(255, 255, 255, 0.87);
//   background-color: #242424;

//   font-synthesis: none;
//   text-rendering: optimizeLegibility;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

@font-face {
    font-family: "Montserrat";
    src: url('/Montserrat.ttf') format('truetype');
}

@font-face {
    font-family: "Mulish";
    src: url('/Mulish.ttf') format('truetype');
}
* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", serif;
    box-sizing: border-box;
}
a {
    color: #fff;
    text-decoration: none;
}
body {
    background-color: #131313;
    padding-top: 116px;
}
button {
    cursor: pointer;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 28px 50px;
    text-transform: uppercase;
    background-color: rgba(19, 19, 19, 0.8);
    color: #fff;
    z-index: 100;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

.menu {
    display: flex;
    justify-content: space-between;
    height: 60px;
    &__burger {
        display: none;
    }
    &__logo {
        display: block;
        width: 155px;
        height: 55px;
    }
    &__list {
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 828px;
        width: 100%;
        text-align: center;
    }
    
    &__link {
        font-weight: 700;
        font-size: 14px;
        // list-style: none;
        border-radius: 10px;
        &:hover {
            color: #c2ab81;
            filter: drop-shadow(0 0 50px #fff);
        }
    }
    &__contacts {
        display: flex;
    }
    &__call {
        padding: 20px 26px;
        border: 1px solid #fff;
        background-color: inherit;
        transform: skewX(-20deg);
        opacity: 0.5;
        // &:hover {
        //     background: #c2ab81;
        //     filter: drop-shadow(0 0 25px #fff);
        // }
        & img {
            width: 20px;
            height: 20px;
            transform: skewX(20deg);
        }
    } 
    &__request {
        margin-left: 30px;
        margin-right: 5px;
        width: 280px;
        height: 60px;
        padding: 20px 0;
        background-color: #c2ab81;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        font-weight: 700;
        font-size: 12px;
        border: none;
        cursor: pointer;
        transform: skewX(-20deg);
        &:hover {
            color: #fff;
            filter: drop-shadow(0 0 20px #c2ab81);
        }
        & span {
            display: block;
            transform: skewX(20deg);
        }
    }
    &__line {
        transform: skewX(-20deg);
        width: 5px;
        background-color: #fff;
        border: none;
    }
}

.main-screen {
    padding: 0 100px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 90vh;
    color: #fff;
    background: linear-gradient(to top, rgba(19, 19, 19, 1.7), transparent),
    url(/images/bg-main.webp) no-repeat center center / cover;
    border-radius: 70px 70px 0 0;
    &__title {
        font-size: 42px;
        font-weight: 700;
        line-height: 52px;
        margin-bottom: 40px;
    }
    &__description {
        font-size: 16px;
        font-weight: 400;
        opacity: 0.7;
        margin-bottom: 40px;
    }
}

.cards {
    padding: 134px 100px 256px;
    &__title {
        font-size: 42px;
        color: #fff;
        font-weight: 700;
        margin-bottom: 50px;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-auto-rows: 620px;
        gap: 30px;
    }
    &__item {
        max-width: 320px;
        width: 100%;
        height: 100%;
        background-color: #fff;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        // &-img {
        //     width: 100%;
        //     box-sizing:border-box;
        // }
        &-wrapper {
            padding: 30px 24px;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            gap: 20px;
        }
        &-name {
            font-size: 14px;
            letter-spacing: 3px;
            font-family: "Mulish", serif;
            font-weight: 700;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-transform: uppercase;
        }
        &-subtitle {
            font-size: 16px;
            line-height: 26px;
        }
        &-text {
            line-height: 24px;
            color: #666666;
            flex-grow: 1;
        }
        &-more {
            font-size: 14px;
            bottom: 30px;
            left: 24px;
            right: 24px;
            color: #fff;
            background-color: #000;
            font-family: "Mulish", serif;
            // width: 100%;
            padding: 20px;
        }
    }
    &__pagination {
        margin-top: 60px;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 767px) {

    .menu {
        z-index: 10;
        &__list {
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: flex-start;
        justify-content: start;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100vw;
        height: 100vh;
        padding: 170px 50px 0;
        background-color: #131313;
        transition: 0.8s all;
        z-index: 0;
        &-active {
            left: 0;
        }
        }
    &__burger {
        display: block;
        align-content: center;
        cursor: pointer;
        z-index: 1;
    }

    &__logo {
        z-index: inherit;
    }
    &__request {
        width: 200px;
        margin-left: 7px;
    }
    &__link {
        display: inline-block;
        -webkit-text-stroke: 1px #808080;
        color: transparent;
        font-size: 36px;
    }
    }

    .main-screen {
        padding: 550px 50px 75px;
    }

    .cards {
        padding: 44px 40px;
        &__list {
            gap: 25px 20px;
            justify-items: center;
        }
    }
}

@media (max-width: 480px) {
    body {
        padding-top: 70px;
    }
    header {
        padding: 15px;
    }
    .menu {
        height: 30px;
        align-items: center;
        font-size: 20px;
        &__list {
            padding: 70px 20px 0;
            background-color: #131313;
            transition: 0.8s all;
        }
        &__link {
            font-size: 20px;
        }
        &__logo {
            width: 110px;
            height: 40px;
        }
        &__contacts {
            display: none;
        }
        
    }
    .main-screen{
        padding: 340px 15px 50px;
        &__title {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 20px;
        &__subtitle {
            font-size: 14px;
        }
    }
}

.cards {
    padding: 44px 15px;
    &__title {
        font-size: 20px;
        margin-bottom: 30px;
    }
}
}
